## 4.6.2 Merging and Exporting data

#### This script contains the following points:

#### 01. Import libraries

#### 02. Import datasets & Create a path

#### 03. Dimensions check to understand the basic info of the df

#### 04. Merging dataframes

#### 05. Check if it was a full match between 2 df

#### 06. Export data in pickle format

#### 01. Import libraries

In [89]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 02. Import datasets & Create a path

In [91]:
# path
path = r'/Users/renatabatista/Other Docs/Germany/CareerFoundry/Data Imersion/4. Python/14-04-2025 Instacart Basket Analysis'

In [92]:
# Import dataset orders_products_combined.pkl 
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 data' , 'prepared data' , 'orders_products_combined.pkl'))

In [93]:
# Import dataset df_prods
df_prods = pd.read_csv(os.path.join(path, '02 data' , 'prepared data' , 'products_checked.csv'), index_col = 0)

#### 03. Dimensions check to understand the basic info of the df

In [95]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [96]:
df_ords_prods_combined.shape

(32434489, 11)

In [97]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [98]:
df_prods.shape

(49672, 5)

#### 04. Merging dataframes

##### A way to combine the df_ords_prods_combined df with the df_prods df, despite their different shape, is to merge them through their shared column "product_id". For the purpose of this project, a default inner join is advisable.

In [101]:
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

##### Merge column already exist at the df_ords_prods_combined.

##### Now I should drop out the column Merge before continue with merge procedure

In [ ]:
# Drop unnecessary columns
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [ ]:
# Check output
df_ords_prods_combined.head()

In [ ]:
df_ords_prods_combined.shape

In [ ]:
# Merge the updated dataframes
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [ ]:
# Check the output
df_ords_prods_merge.head()

In [ ]:
df_ords_prods_merge.shape

#### 05. Check if it was a full match between 2 df

In [ ]:
df_ords_prods_merge['_merge'].value_counts()

##### After the Merge the df has 32,404,859 rows, and each of those rows have information found in both input datasets, as we used an inner join for the purposes of this project.Â¶

#### 06. Export data in pickle format

In [ ]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))